* {
  background-color: white;
}

body {
text-align: center;
}

.primary-nav {
    text-align: center;
    border-radius: 25px;
    overflow: hidden; /* [1] */
}

      .primary-nav a {
            padding: 2em;
            background-color: gray;
            color: white;
            font-weight: bold;
            text-decoration: none;
            font-family: arial;
          }
      .primary-nav a:hover {
            background-color: black;
        }

img {opacity:0;
-moz-transition: opacity 10s;
-webkit-transition: opacity 10s;
-o-transition: opacity 10s;
transition: opacity 10s;
}

h1 {
  font-family: arial;
  position: relative;
  color:black;
}

img {
  position: relative;
  top: 140px;
}